/* The CSS of the Main Portfolio page index.html */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

html {
  scroll-behavior: smooth;
}

body {
  margin-top: 60px;
  justify-content: center;
  text-align: center;
  scroll-margin-top: 60px;
}

input[type="checkbox"] {
  display: none;
}

#hamburger {
  display: none;
  font-size: 24px;
  padding: 1em;
  text-align: center;
  cursor: pointer;
}

.CHECKBOX {
  display: none;
}

.NavBarFixed {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.NavBar h3 {
  font-weight: bolder;
}

.Button {
  display: none;
  justify-content: center;
  left: 0;
}

.ProfilePictureNavBar {
  width: 50px;
  height: 50px;
  border-radius: 30px;
  margin: 5px;
  top: 0;
  border: 1px solid black;
  box-shadow: 0 0 5px rgb(0, 139, 139);
}

.ProfilePictureSection {
  width: 250px;
  height: 300px;
  border-radius: 50%;
  margin: 5px;
  box-shadow: 0 0 15px;
  border: 1 solid black;
  box-shadow: 0 0 10px darkcyan;
}

.NavBar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 0 10px black;
  border-radius: 2px;
  text-decoration: none;
  list-style-type: none;
  color: darkcyan;
}

.NavBarFixed ul li a {
  color: darkcyan;
}

.NavBarFixed ul li a:hover {
  text-decoration: underline;
}

.Home {
  line-height: 1.5;
  font-size: 1.5rem;
  padding: 10px;
  background-color: darkcyan;
  height: 200px;
  background-image: url("/Images/FormBackground.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.TechnologyPicture {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  box-shadow: 0 0 4px;
}

.TechnologyPicture img {
  width: 80px;
  height: 80px;
  border-radius: 10px;
  margin: 5px;
  padding: 10px;
}

.SectionProfilePicture {
  padding-top: 20px;
  padding-bottom: 10px;
}

.AboutMe {
  margin: 0 auto;
  line-height: 2em;
  font-size: 1.2em;
  text-align: center;
  justify-content: center;
  padding-bottom: 50px;
  width: 0 auto;
  box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.685);
}

.AboutMe h2 {
  text-decoration: underline;
  color: darkcyan;
  font-size: 1.5em;
  padding-bottom: 10px;
}

.Resume {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: darkcyan;
  border: 1px solid black;
  border-radius: 30px;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.1s;
}

.Resume:hover {
  background-color: rgb(1, 118, 118);
  font-weight: bold;
}

.Resume:active {
  background-color: #0056b3;
  transform: scale(0.95);
}

.ResumeIcon {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.ProjectSection {
  margin-top: 2%;
  height: auto;
  padding-bottom: 20px;
  box-shadow: 0 4px 5px -2px rgba(0, 0, 0, 0.685);
}
.ProjectSection h2 {
  color: darkcyan;
  line-height: 2em;
  font-size: 1.5em;
  text-decoration: underline;
}

.ProjectBox {
  display: grid;
  justify-content: space-evenly;
  flex-wrap: wrap;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 50px;
}

.ProjectContainer {
  width: 100%;
  height: auto;
  text-align: center;
  justify-content: center;
}

.ProjectContainer p {
  padding-bottom: 10px;
  padding-top: 10px;
}

.ProjectContainer img {
  width: 300px;
  height: 200px;
  border-radius: 30px;
  margin: 5px;
  padding: 10px;
  box-shadow: 0 0 5px black;
  background-color: darkcyan;
  filter: grayscale(10%);
}

.ProjectContainer img:hover {
  filter: grayscale(0%);
  filter: drop-shadow(0 0 5px darkcyan);
}

.ProjectButton {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: darkcyan;
  border: 1.5px solid black;
  border-radius: 30px;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.1s;
  box-shadow: 0 4px 4px -1px rgba(0, 0, 0, 0.685);
}

.ProjectButton:hover {
  background-color: rgb(1, 118, 118);
}

.ProjectBotton:active {
  background-color: #0056b3;
  transform: scale(0.95);
}

.Contact {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ContactMe {
  margin-top: 2%;
  margin-bottom: 2%;
  background-image: url("/Images/FormBackground.png");
  background-size: cover;
  background-position: bottom;
}

.ContactMe h2 {
  padding-bottom: 20px;
  color: darkcyan;
  text-align: center;
  font-size: 1.5em;
  text-align: center;
  justify-content: center;
  text-decoration: underline;
}

.Form {
  position: relative;
  z-index: 1;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 700px;
  border: 2px solid black;
  background-color: darkcyan;
}

.Form label {
  display: flex;
  text-align: left;
  margin-left: 100px;
  font-weight: bold;
  margin-bottom: 1px;
  left: 0;
  text-align: center;
  text-decoration: none;
}

.Form input[type="text"],
.Form input[type="tel"],
.Form input[type="email"],
.Form textarea {
  width: 70%;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  resize: vertical;
}

.Form textarea {
  resize: none;
  text-align: left;
}

.Form input[type="button"] {
  padding: 10px 20px;
  border: none;
  border-radius: 30px;
  background-color: black;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.Form input[type="button"]:hover {
  background-color: rgb(63, 63, 63);
}

.SocialMediaBar {
  display: flex;
  height: 40px;
  width: 0 auto;
  background-color: darkcyan;
  color: white;
  justify-content: space-around;
  align-items: center;
}
.SocialMediaBar svg {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.Footer {
  background-color: black;
  color: darkcyan;
  font-size: 10pt;
  text-align: center;
  padding: 10px 0;
}
/* ----------------Responsive---------------- */
NavBarFixed {
  background: #333;
  padding: 10px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}

.NavBar {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 20px;
}

.ProfilePictureNavBar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

#hamburger {
  font-size: 2rem;
  cursor: pointer;
  display: none;
}

#menu-toggle {
  display: none;
}

.navbar-links {
  display: flex;
  gap: 20px;
}

.navbar-links a {
  text-decoration: none;
  color: white;
}

/* Responsive styles */
@media (max-width: 768px) {
  #hamburger {
    display: block;
  }

  .navbar-links {
    display: none;
    position: absolute;
    top: 60px;
    right: 10px;
    background: white;
    flex-direction: column;
    width: 200px;
    padding: 10px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }

  .navbar-links li {
    padding: 10px;
  }

  .navbar-links a {
    color: black;
  }

  #menu-toggle:checked ~ .navbar-links {
    display: flex;
  }

  .Button {
    display: block;
    color: black;
    left: 0;
    width: 20vw;
  }

  .Button:hover .NavBar li a {
    display: block;
  }

  .Home {
    height: 70vw;
    margin-top: 25vw;
  }

  .AboutMe {
    font-size: 4vw;
    line-height: 5vh;
  }

  .Contact {
    height: 10vh;
  }

  .TechnologyPicture img {
    height: 9vw;
  }

  .ProjectContainer {
    width: 100vw;
    height: 90vw;
    text-align: center;
    justify-content: center;
  }

  .ProjectContainer p {
    padding-bottom: 2%;
    padding-top: 10px;
  }

  .ProjectContainer img {
    width: 90vw;
    border-radius: 30px;
    margin: 5px;
    padding: 10px;
    box-shadow: 0 0 5px black;
    background-color: darkcyan;
  }

  .ProjectBox {
    display: grid;
    justify-content: space-evenly;
    flex-wrap: wrap;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 20px;
    margin-bottom: 250px;
  }

  .ContactMe form {
    display: block;
    position: relative;
    bottom: 50px; /* fix */
    margin-top: 20px;
    margin-bottom: 10px;
    margin: 0 auto;
    padding: 10px;
    width: 100%;
    height: auto;
    max-width: 100vw;
    width: 100%;
    max-width: 100vw;
    padding: 20px;
    opacity: 10;
  }

  .Form label {
    display: flex;
    text-align: left;
    margin-left: 13vw;
    font-weight: bold;
    margin-bottom: 1vh;
    text-align: center;
  }
  .Form h2 {
    color: black;
    padding: 5px;
  }
  .SocialMediaBar {
    margin-top: 35vh;
    display: flex;
    bottom: 0;
    top: 1200vw;
    bottom: 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    justify-content: space-evenly;
  }

  .SocialMediaBar svg {
    width: 8vw;
    height: 8vw;
  }

  .Footer {
    width: 100%;
    height: 30px;
    margin-top: 32vh;
  }

  .Footer p {
    text-align: center;
    justify-content: center;
    font-size: 3vw;
  }
}
